h1 {
	text-align: center;
	font-family: cursive;
}
.esportes {
display: flex;
flex-direction: row;
align-items: center;
padding: 4%;
}
.esporte {
 	width: 50%;
 	padding: 2%;
 	background-color: gray;
 	margin: 9px;
 	border-radius: 15px;
}
img {
	max-height: 250px;
	max-width: 250px;
}
body {
background-color: darkorange;
}